html,body {
  margin:0;
  padding:0;
}

h1 {
  font-size: 6rem;
  font-family: 'Goudy Bookletter 1911', serif;
  color: #000;
}

p {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
