html, body {
  margin:0;
  padding:0;
}

h1 {
	font-size: 6rem;
	font-family: 'Goudy Bookletter 1911', serif;
	color: #c5c5c5;
}

p {
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	color: #c5c5c5;
}

body {
  background-color: #000;
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
}

i {
	margin-top: 0.6rem;
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	margin-bottom: 0.6rem;
}

.heading {}

.bio {
  padding-left: 0;
  padding-right: 0;
}

.skillbox {
  background-color: #222;
  opacity: 0.85;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1rem #000000;
}

.logobox {
  background-color: #fff;
  margin-top: 1.6em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  opacity: 1;
}

.logobox div div {
	border-radius: 1em;
	
}

.portfolio {
  background-color: #fff;
}

#seattlebmxbox {
  /*
  padding: 1em;
  margin: 1em;
  */
}

#seattlebmximagebox {
  background-image: url("http://seattlebmx.bike/images/chalkboard.png");
  background-position: center;
  padding: 1em;
  /*margin: 1em;*/
}

#bahiainmotionbox {
  /*padding: 1em;*/
}

#bahiainmotionbox img {
  height: 14em;
}

#balanceseattlebox {
  /*padding: 1em;*/
}

#balanceseattlebox img {
  border: 2em solid #ccc;
}

.sitedescription {
  font-size: 1em;
}

.contactheader {
  color: #fff;
}

.socnetrow {
  background-color: #fff;
  border-radius: 1em;
  margin-bottom: 1em;
}

.socneticon {
  
}

.facebooklogo {
  margin: 1.9em;
  max-height: 8em;
}