html, body {
  margin:0;
  padding:0;
}

h1 {
	font-size: 6rem;
	font-family: 'Goudy Bookletter 1911', serif;
	color: #c5c5c5;
}

h2 {
  font-size: 4rem;
  font-family: 'Goudy Bookletter 1911', serif;
  color: #c5c5c5;
}

p {
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	color: #c5c5c5;
}

body {
  background-color: #000;
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
}

i {
	margin-top: 0.6rem;
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	margin-bottom: 0.6rem;
}

div {
  text-align: center;
  box-sizing: border-box;
}

.heading {}

.bio {
  padding-left: 0;
  padding-right: 0;
}

.description {
  background-color: #222;
  opacity: 0.85;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1rem #000000;
  text-align: justify;
}

.skillbox {
  background-color: #000;
  margin-top: 1.0em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 1.0em;
  opacity: 1;
}

.skilllistdiv {
  background-color: gray;
  text-align: left;
  position: relative;
}

.skilllistdiv ul {
  margin: 0;
  padding: 0;
}

.skilllistdiv ul li {
  position: relative;
}

.resumelink {
  background-color: silver;
  margin: 0.25em;
}

.resumelink p {
  color: black;
  padding: 1em;
}

.portfolio {
  background-color: #fff;
}

#seattlebmxbox {
  /*
  padding: 1em;
  margin: 1em;
  */
}

#seattlebmximagebox {
  background-image: url("http://seattlebmx.bike/images/chalkboard.png");
  background-position: center;
  padding: 1em;
  /*margin: 1em;*/
}

#bahiainmotionbox {
  /*padding: 1em;*/
}

#bahiainmotionbox img {
  height: 14em;
}

#balanceseattlebox {
  /*padding: 1em;*/
}

#balanceseattlebox img {
  border: 2em solid #ccc;
}

.sitedescription {
  font-size: 1em;
}
